/* custom styles */


.main-header {
  text-align: left;
   /*background-color: rgb(215,234,244);*/
}
body {
  font-size: 16px;
  background-color: #FFFFFF;
  font-weight: 300;
}

a {
  color: #cc6600;;
}


h1,h2,h3 {
  font-family: 'Helvetica', serif;
  font-style: italic;
  color: #809DB9;
  font-weight: bold;
}

h3 {
  font-family: 'Helvetica', serif;
  font-style: italic;
  color: #809DB9;
  font-weight: bold;
}

th, td {
  width: 80px;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  color: #black;
  border: 3px solid black;
  background-color: #d6d6d6;
  text-align:center;
  }

  td#label{
    width: 300px;
    overflow: hidden;
  }

  table {
    width: 450 px;
    table-layout: : fixed;
  }

.btn-success{
  width:30%;
}

.btn-danger{
  width:30%;
}

#wrap {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
#map {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}


#map-nav {
  display: inline-block;
  margin-left: 15px;
}



#menu { position: absolute; top: 5px; right: 20px; width: 275px; height:60px; background: transparent; z-index:500;}*/
#menu {
}

  .scrollable-menu {
      height: auto;
      max-height: 180px;
      overflow-x: hidden;
  }
