/* custom styles */



.main-header {
  text-align: left;
  padding:0;
  margin:0;
}

.title{
  text-align: center;
  color: black;
  width: 100%
}
.logo{
  padding: 0;
  margin:0;
  width:37%
}

.logo_small{
  padding: 0;
  margin:0;
  width:24%
}

body {
  font-size: 16px;
  background-color: #FFFFFF;
  font-weight: 300;
}

a {
  color: #cc6600;;
}


h1,h2,h3 {
  font-family: 'Helvetica', serif;
  color: #809DB9;
  font-weight: bold;
}


h3 {
  font-family: 'Helvetica', serif;
  font-style: italic;
  color: #809DB9;
  font-weight: bold;
}

th, td {
  width: 150px;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  color: #black;
  border: 1px solid black;
  background-color: #d6d6d6;
  text-align:center;
  }

  td#label{
    width: 300px;
    overflow: hidden;
  }

  table {
    table-layout: : fixed;
  }

  table#legend{
    border-collapse: collapse;
  }

.reliability{
  text-align: left;
  background-color: transparent;
  border:0;
  width: 90%;

}
.stoplight{
  background-color: transparent;
  width:10px;
  border:0;
}

.btn-success{
  width:30%;
}

.btn-danger{
  width:30%;
}


#wrap {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
#map {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}


#map-nav {
  display: inline-block;
  margin-left: 15px;
}



#menu { position: fixed; top: 12px; left: 60px; width: 275px; height:60px; background: transparent; z-index:500;}

.scrollable-menu {
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
}
