/* custom styles */

body {
  font-size: 16px;
  background-color: rgb(215,234,244);
  font-weight: 300;
}

a {
  color: #cc6600;
}


h1, h2{
  font-family: 'Helvetica', serif;
  color: #809DB9;
}

h3, h4, h5, .h3, .h4, .h5 {
  font-family: 'Helvetica', serif;
  font-style: italic;
  color: #809DB9;
}

th, td {
  width: 80px;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  color: #black;
  border: 3px solid black;
  background-color: #d6d6d6;
  text-align:center;
  }

  td#label{
    width: 300px;
    overflow: hidden;
  }

  table {
    width: 450 px;
    table-layout: : fixed;
  }

.btn-success{
  width:30%;
}

.btn-danger{
  width:30%;
}

#wrap {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
#map {
  padding: 0px;
  height: 100%;
}

#map-nav {
  display: inline-block;
  margin-left: 15px;
}

#menu { position: absolute; top: 5px; right: 10px; width: 275px; height:60px; background: transparent; z-index:500;}
#menu a {
  margin: 15px 10px 0 0;
  float: right;
  vertical-align: baseline;
  padding: 4px;
  text-align: center;
  line-height: normal;
}

  .scrollable-menu {
      height: auto;
      max-height: 180px;
      overflow-x: hidden;
  }
