/* custom styles */

body {
  font-size: 16px;
  background-color: #242426;
  font-weight: 300;
  color: #ddd;
}

a {
  color: #cc3333;
}


h1, h2{
  font-family: 'Alegreya', serif;
  color: #e77960;
}

h3, h4, h5, .h3, .h4, .h5 {
  font-family: 'Alegreya', serif;
  font-style: italic;
  color: #e8b19c;
}

.intro-blurb {
  font-family: 'Alegreya', serif;
  color: #e8b19c;
}

.btn-success{
  width:30%;
}

.btn-danger{
  width:30%;
}

/*#wrap {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
#map {
  padding: 0px;
  height: 100%;
}*/





#map-nav {
  display: inline-block;
  margin-left: 15px;
}

#menu { position: absolute; top: 5px; right: 10px; width: 275px; height:60px; background: transparent; z-index:500;}
#menu a {
  margin: 15px 10px 0 0;
  float: right;
  vertical-align: baseline;
  padding: 4px;
  text-align: center;
  line-height: normal;
}
#results th, td {
  width:40%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  color: #eab19c;
  border: 3px solid black;
  background-color: #a50f15;
  text-align:center;
  }
.page-header{
    font-family: 'Alegreya', serif;
    color: #e77960;
  }
  .scrollable-menu {
      height: auto;
      max-height: 180px;
      overflow-x: hidden;
  }
